{% macro display_flashes() %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro dropzone_fileinput() %}
    {# see https://stackoverflow.com/a/12713396, TODO: make name/id configurable and support multiple elements in form #}
    <div id="drop-zone">
        Drop file here...
        <div id="clickHere">
            or click here..
            <input type="file" name="file" id="file" />
        </div>
        <div id="filename"></div>
    </div>
{% endmacro %}

{% macro dropzone_head() %}
    <style>
    #drop-zone {
        /*Sort of important*/
        width: 300px;
        /*Sort of important*/
        height: 200px;
        border: 2px dashed rgba(0,0,0,.3);
        border-radius: 20px;
        font-family: Arial;
        text-align: center;
        position: relative;
        line-height: 180px;
        font-size: 20px;
        color: rgba(0,0,0,.3);
    }

    #drop-zone input {
        /*Important*/
        position: absolute;
        /*Important*/
        cursor: pointer;
        left: 0px;
        top: 0px;
        /*Important This is only comment out for demonstration purposes. */
        opacity:0;
    }

    #drop-zone #filename {
        line-height: 1.2rem;
        font-size: 1rem;
        position: absolute;
        text-align: center;
        bottom: 10px;
        float: none;
        width: 100%;
    }

    /*Important*/
    #drop-zone.mouse-over {
        border: 2px dashed rgba(0,0,0,.5);
        color: rgba(0,0,0,.5);
    }

    /*If you dont want the button*/
    #clickHere {
        position: absolute;
        cursor: pointer;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: 20px;
        line-height: 26px;
        color: white;
        font-size: 12px;
        width: 100px;
        height: 26px;
        border-radius: 4px;
        background-color: #3b85c3;
    }

    #clickHere:hover {
        background-color: #4499DD;
    }
    </style>

    <script>
    $(function () {
        var dropZoneId = "drop-zone";
        var buttonId = "clickHere";
        var mouseOverClass = "mouse-over";

        var dropZone = $("#" + dropZoneId);
        var ooleft = dropZone.offset().left;
        var ooright = dropZone.outerWidth() + ooleft;
        var ootop = dropZone.offset().top;
        var oobottom = dropZone.outerHeight() + ootop;
        var inputFile = dropZone.find("input");

        inputFile.change(function() {
            var input = this;
            var fname = $(this).val().replace("C:\\fakepath\\", ""); // https://davidwalsh.name/fakepath
            $('#filename').html(fname);
        });

        document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
            e.preventDefault();
            e.stopPropagation();
            dropZone.addClass(mouseOverClass);
            var x = e.pageX;
            var y = e.pageY;

            if (!(x < ooleft || x > ooright || y < ootop || y > oobottom)) {
                inputFile.offset({ top: y - 15, left: x - 100 });
            } else {
                inputFile.offset({ top: -400, left: -400 });
            }

        }, true);

        if (buttonId != "") {
            var clickZone = $("#" + buttonId);

            var oleft = clickZone.offset().left;
            var oright = clickZone.outerWidth() + oleft;
            var otop = clickZone.offset().top;
            var obottom = clickZone.outerHeight() + otop;

            $("#" + buttonId).mousemove(function (e) {
                var x = e.pageX;
                var y = e.pageY;
                if (!(x < oleft || x > oright || y < otop || y > obottom)) {
                    inputFile.offset({ top: y - 15, left: x - 160 });
                } else {
                    inputFile.offset({ top: -400, left: -400 });
                }
            });
        }

        document.getElementById(dropZoneId).addEventListener("drop", function (e) {
            $("#" + dropZoneId).removeClass(mouseOverClass);
        }, true);
    })
    </script>
{% endmacro %}
