{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}

{% block body %}
    <h2>
        {{ 'Add Person from Identifier'|trans }}
    </h2>
    {{ helper.display_flashes() }}

    {# renders all fields *and* the form start and end tags #}
    {{ form(form) }}
{% endblock %}