{% extends 'Base/base.html.twig' %}

{% import 'Base/helper.html.twig' as helper %}

{% block body %}
    <h2>
        {% if entity.id is empty %}
        Add Person
        {% else %}
        <a href="{{ path('person-detail', { 'id' : entity.id }) }}">
            {{ entity.fullName(true) }}
        </a>
        {% endif %}
    </h2>
    {{ helper.display_flashes() }}

    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {# renders all fields *and* the form start and end tags #}
    {{ form(form) }}
{% endblock %}