xquery version "3.1";

declare variable $stylespath external;
declare variable $lang external;

declare variable $tei as document-node() := doc($resource);

<div>
{
    (: see https://exist-db.org/exist/apps/doc/xsl-transform :)
    transform:transform($tei, doc($stylespath || '/dta2html.xsl'),
    <parameters>
        <param name="lang" value="{ $lang }"/>
    </parameters>)
}
</div>
